-if @creative_explanation
  .grid_6.alpha
    -if @issues.size > 0
      .grid_6.alpha.omega
        =render :partial => "issue_list", :locals => { :issues => @issues }
    .grid_6.alpha.omega
      =render :partial => "issue_add_form"
  .grid_10.omega
    .box
      %h2 Creative explanation
      .block
        %p= simple_format @creative_explanation.reason
-else
  .grid_16.alpha.omega
    =render :partial => "issue_list", :locals => { :issues => @issues }
    =render :partial => "issue_add_form"
