.grid_16.alpha.omega
  .box
    %h2 How can you make #{@sucky_thing} not suck?
    .block
      %h5
        Alright chief, how are ya gonna fix #{@sucky_thing.to_s.downcase}?
      -form_for(:creative_how, @sucky_thing.creative_how, :url => sucky_thing_creative_how_path(@sucky_thing)) do |f|
        =f.error_messages
        %p#creativeBox
          =f.text_area :content
        =submit_tag "Submit"
