.grid_16.alpha.omega
  .box
    %h2 Register
    .block
      -form_for @user, :url => account_path do |f|
        %fieldset
          %legend Register new account
          = f.error_messages
          = render :partial => "form", :object => f
          = f.submit "Register"
