.grid_5.omega.prepend_2
  -if current_user_session
    .box
      %h2 User Info
      .block
        %p= "You are logged in as " + @current_user.email
        =link_to "Logout", logout_path
  -else
    - @current_user_session = UserSession.new
    .box
      %h2 Login
      #login-forms.block
        - form_for @current_user_session, :url => user_session_path do |f|
          %fieldset.login
            %legend Login
            %p Please login here
            %p
              =f.label :email
              =f.text_field :email
            %p
              =f.label :password
              =f.password_field :password
            %p
              = f.check_box :remember_me
              = f.label :remember_me
            %input.login.button{ :type => "submit", :value => "Login"}
        -form_for @user, :url => account_path do |f|
          %fieldset.login
            %legend Register
            %p If you do not already have an account, please create a new account to register
            %p
              =f.label :email
              =f.text_field :email
            %input.login.button{ :type => "submit", :value => "Register"}