.grid_16.alpha.omega
  .box
    %h2 Why does it suck
    .block
      %h5
        Alright chief, tell me why
        =@sucky_thing.to_s.downcase
        sucks so much, eh?
      -form_for(:why_it_sucks_explanation, @sucky_thing.why_it_sucks_explanation, :url => sucky_thing_why_it_sucks_explanation_path(@sucky_thing)) do |f|
        =f.error_messages
        %p#creativeBox
          =f.text_area :reason
        =submit_tag "Submit"
