-if @creative_how
  .grid_6.alpha
    -if @solutions.size > 0
      .grid_6.alpha.omega
        =render :partial => "solution_list", :locals => { :solutions => @solutions }
    .grid_6.alpha.omega
      =render :partial => "solution_add_form"
  .grid_10.omega
    .box
      %h2 Creative how
      .block
        %p= simple_format @creative_how.content
-else
  .grid_16.alpha.omega
    =render :partial => "solution_list", :locals => { :solution => @solutions }
    =render :partial => "solution_add_form"
